* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

div > div {
  background-color: #ff0000; /* red */
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: background-color 1s;
  width: 300px;
}

div > div:hover {
  background-color: #8b0000; /* darkred */
}

div p {
  font-size: 1.25em;
}
